.htaccess copy
/assets/movies/*.mp4
/blog/.htaccess
/blog/app/assets/img_old/
/blog/app/assets/img/posts/basepath/*.*
/blog/app/assets/img/posts/destaques/*.*
/blog/.vscode
.env
README.md
/posts/*.php